body{
    margin: 0;
}
.contenedor {
    background-image: url("header.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px;
    height: 300px; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}
.centrar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;    
}
.item img {
    width: 60%;
    height: auto;
}
.centrar2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba(2, 124, 118, 0.893);
    width: 100%;
    height: 100%;
}
.row {
    height: 100px;
    clear:both 
 }
.column-50 {
    width: 50%;
    float: left; 
    font-family: 'Montserrat', sans-serif;
 }
 .column-img {
    float: right;
 }
 .column33{
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    float: left;
 }
#color{
    color:white;
}
#row2{
   width: 100%;
   height: 150%;
   background-color: rgba(0, 0, 0, 0.529);
   font-family: 'Montserrat', sans-serif;
}
